body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

h2 {
    color: #8b0000;
    /* đỏ đô */
}

#cart-table img {
    width: 80px;
    height: auto;
    object-fit: contain;
}

input.quantity-input {
    width: 60px;
    text-align: center;
}